* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-repeat: repeat;
}


/*<header>*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#charac {
    height: 12vh;
}


/*<main>*/

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

section {
    width: 40%;
}

#xayah-load:hover,
#rakan-load:hover {
    cursor: pointer;
}


/*<section id="xayahSelect">*/

#xayahSelect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#rebel {
    height: 12vh;
    display: none;
    margin-right: 2em;
}

#xayah-load {
    height: 37vh;
}


/*<section id="rakanSelect">*/

#rakanSelect {
    display: flex;
    align-items: center;
}

#rakan-load {
    height: 37vh;
}

#charmer {
    height: 13vh;
    display: none;
    margin-left: 2em;
}


/*<footer>*/

footer {
    height: 40%;
    width: 100%;
    display: flex;
}

#battle {
    height: 100%;
    margin: auto;
}