* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/xayah-rakan.jpg");
    background-position: fixed;
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    display: none;
}

main {
    background-image: url("../img/gameback.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 57%;
    width: 57%;
    display: flex;
    flex-wrap: wrap;
    border: 0.2vh solid black;
}

#topleft {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

#topright {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#botleft {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#botright {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#xayah {
    height: 20vh;
    margin-left: 6%;
    /*position: absolute;
    top: 57vh;
    left: 20vw;*/
}

#rakan {
    height: 70%;
    margin: 5% 6% 0 0;
    /*position: absolute;
    top: 25vh;
    left: 61vw;*/
}

#xayahpic {
    height: 50%;
    /*position: absolute;
    top: 63.5vh;
    left: 35vw;*/
}

#rakanpic {
    height: 50%;
    /*position: absolute;
    top: 23.5vh;
    left: 54vw;*/
}

#hpxayah {
    background-color: rgba(155, 13, 73, 0.4);
    width: 45%;
    height: 50%;
    box-shadow: inset 0vh 0.2vh black;
}

#contxayahhpbar {
    height: 25%;
    display: flex;
    align-items: center;
}

.black {
    background-color: black;
    width: 96%;
    height: 50%;
}

#contxayahhpbar>.black,
#contxayahmpbar>.black {
    margin-left: 2%;
}

#contrakanhpbar>.black,
#contrakanmpbar>.black {
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

#xayahhpbar {
    background-color: red;
    width: 100%;
    height: 100%;
}

#xayahhptext {
    height: 25%;
    text-align: end;
    margin-right: 4%;
    font-size: 2.5vh;
}

#contxayahmpbar {
    height: 25%;
    display: flex;
    align-items: center;
}

#xayahmpbar {
    background-color: blue;
    width: 100%;
    height: 100%;
}

#xayahmptext {
    height: 25%;
    text-align: end;
    margin-right: 4%;
    font-size: 2.5vh;
    ;
}

#hprakan {
    width: 45%;
    height: 50%;
    background-color: rgba(158, 58, 60, 0.5);
    box-shadow: inset 0.2vh -0.2vh black;
}

#contrakanhpbar {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#rakanhpbar {
    background-color: red;
    width: 100%;
    height: 100%;
}

#rakanhptext {
    height: 25%;
    margin-left: 4%;
    font-size: 2.5vh;
}

#contrakanmpbar {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#rakanmpbar {
    background-color: blue;
    width: 100%;
    height: 100%;
}

#rakanmptext {
    height: 25%;
    margin-left: 4%;
    font-size: 2.5vh;
}

nav {
    width: 55%;
    height: 60%;
}

nav>ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
}

#skills1>div,
#skills2>div,
#items>div {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

.skilltext {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.skillef {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.itemstext {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.itemsef {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#menuXayah {
    background-image: url("../img/Xayah.0.png");
    background-size: 100%;
    color: pink;
    text-shadow: 0vh 0vh 0.1vh black;
    box-shadow: inset 0.1vh 0.1vh 0.1vh black;
}

#menuXayah,
#items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#menuXayah>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#menuXayah>div>p,
#items>div>div>pre {
    font-size: 2.5vh;
}

#skills>div>div>div>pre {
    font-size: 2.2vh;
    text-shadow: 0px 0px 0.1vh grey;
}

#items>div>div>p {
    font-size: 2.2vh;
    color: whitesmoke;
    text-shadow: 0px 0px 0.1vh black;
}

#skills>div>div>div>p {
    font-size: 1.6vh;
    color: whitesmoke;
    text-shadow: 0px 0px 0.1vh black;
}

#menuXayah>div:hover,
#skills>div>div>div:hover,
#items>div:hover {
    cursor: pointer;
}

#skills {
    display: none;
    height: 100%;
    flex-wrap: wrap;
}

#skills>div {
    width: 100%;
    height: 48.5%;
    display: flex;
    flex-wrap: nowrap;
}

#items>div {
    box-shadow: inset 0.1vh 0.1vh 0.1vh black;
}

.border {
    border: 0.1vh solid black;
}

#border1 {
    border-bottom: 0.2vh solid black;
    background-image: url("../img/stripe_violet.png");
    background-size: 20%;
}

#border2 {
    border-bottom: 0.2vh solid black;
    background-image: url("../img/stripe_green.png");
    background-size: 20%;
}

#border3 {
    border-top: 0.15vh solid black;
    background-image: url("../img/stripe_violet.png");
    background-size: 20%;
}

#border4 {
    border-top: 0.15vh solid black;
    background-image: url("../img/stripe_blue.png");
    background-size: 20%;
}

#items {
    display: none;
}

#itemhp {
    background-image: url("../img/stripe_green.png");
    background-size: 20%;
}

#itemmp {
    background-image: url("../img/stripe_blue.png");
    background-size: 20%;
}