* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/xayah-rakan.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    display: none;
}

main {
    background-image: url("../img/gameback.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 53%;
    width: 53%;
    display: flex;
    flex-wrap: wrap;
}

#topleft {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

#topright {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#botleft {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#botright {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#xayah {
    height: 20vh;
    margin-left: 6%;
    /*position: absolute;
    top: 57vh;
    left: 20vw;*/
}

#rakan {
    height: 70%;
    margin: 5% 6% 0 0;
    /*position: absolute;
    top: 25vh;
    left: 61vw;*/
}

#xayahpic {
    height: 50%;
    /*position: absolute;
    top: 63.5vh;
    left: 35vw;*/
}

#rakanpic {
    height: 50%;
    /*position: absolute;
    top: 23.5vh;
    left: 54vw;*/
}

#hpxayah {
    background-color: transparent;
    width: 55%;
    height: 50%;
}

#contxayahhpbar {
    height: 25%;
    display: flex;
    align-items: center;
}

#xayahhpbar {
    background-color: red;
    width: 96%;
    height: 50%;
    margin-left: 2%;
}

#xayahhptext {
    height: 25%;
    text-align: end;
    margin-right: 4%;
}

#contxayahmpbar {
    height: 25%;
    display: flex;
    align-items: center;
}

#xayahmpbar {
    background-color: blue;
    width: 96%;
    height: 50%;
    margin-left: 2%;
}

#xayahmptext {
    height: 25%;
    text-align: end;
    margin-right: 4%;
    font-size: 100%;
}

#hprakan {
    width: 55%;
    height: 50%;
}

#contrakanhpbar {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#rakanhpbar {
    background-color: red;
    width: 96%;
    height: 50%;
    margin-right: 2%;
}

#rakanhptext {
    height: 25%;
    margin-left: 4%;
}

#contrakanmpbar {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#rakanmpbar {
    background-color: blue;
    width: 96%;
    height: 50%;
    margin-right: 2%;
}

#rakanmptext {
    height: 25%;
    margin-left: 4%;
}

nav {
    background-color: grey;
    width: 45%;
    height: 50%;
}

nav>ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
}

#menuXayah,
#items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>ul>li,
#skills>div>li {
    list-style: none;
    font-size: 2.5vh;
}

nav>ul>li:hover,
#skills>div>li:hover {
    cursor: pointer;
}

#skills {
    display: none;
    flex-direction: column;
}

#skills>div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#items {
    display: none;
}