* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/xayah-rakan-reverse.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: none;
}

main {
    background-image: url("../img/gameback.jpg");
    background-size: 100%;
    height: 53vh;
    width: 53vw;
    min-height: 457.797px;
    min-width: 910.688px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#xayah {
    height: 20vh;
    position: absolute;
    top: 23vh;
    left: 62vw;
}

#rakan {
    height: 18vh;
    position: absolute;
    top: 58vh;
    left: 17.5vw;
}

nav {
    background-color: grey;
    width: 30%;
    height: 25%;
}

nav>ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
}

#menu,
#items {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul>li,
#skills>div>li {
    list-style: none;
    margin: 0 10%;
}

nav>ul>li:hover,
#skills>div>li:hover {
    cursor: pointer;
}

#skills {
    display: none;
    flex-direction: column;
}

#skills>div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#items {
    display: none;
}